*{
    justify-content: center;
   margin-top: 10px;
}
html, body{
    text-align: center;
    width: 100%;
    height: 100%;
}
    
.container{
    display: flex;
    align-items: center;
}
     
     .button-container{
         text-align: center;
         
     }
     .description{
         display: flex;
         text-align: center;
     }
     .next, .prev{
         background-color: rgb(190, 227, 227);
         border: 1px;
         box-shadow: grey;
     }
     .next:hover ,.prev:hover{
         background-color: green;
     }